<h1> Contacto </h1>

<%= form_for :contact, url: "/contacts", html: { id: "contact-form" } do |f| %>
    <div class="field">
        <%= f.label :name %><br>
        <%= f.text_field :name %>
    </div>
    <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email %>
    </div>
    <div class="field">
        <%= f.label :message %><br>
        <%= f.text_area :message %>
    </div>
    <div class="actions">
        <%= f.submit "Enviar" %>
    </div>
<% end %>

<div id="mensaje-enviado" style="display: none;">
    Thank you for your message, we will contact you soon.
</div>

<script>
document.addEventListener("DOMContentLoaded", function() {
    var form = document.getElementById("contact-form");
    form.addEventListener("submit", function(event) {
        event.preventDefault(); // Evitar el envío del formulario por defecto

        // Aquí puedes agregar código para enviar los datos del formulario mediante AJAX si lo deseas

        // Mostrar el mensaje de éxito
        document.getElementById("mensaje-enviado").style.display = "block";
    });
});
</script>


  


